<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	  package="com.casimirlab.simpleDeadlines"
	  android:versionCode="10"
	  android:versionName="2.3.2">

  <uses-sdk android:targetSdkVersion="17"
	    android:minSdkVersion="14" />

  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  
  <application android:label="@string/app_name"
	       android:icon="@drawable/app_icon">

    <activity android:name="DeadlineEditor"
	      android:label="EDITOR">
    </activity>
    <activity android:name="Deadlines"
	      android:label="@string/app_name">
      <intent-filter>
	<action android:name="android.intent.action.MAIN" />
	<category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name="Settings"
	      android:label="@string/act_settings">
    </activity>

    <receiver android:name="NotificationCenter">
      <intent-filter>
	<action android:name="DataHelper.ACTION_UPDATE" />
	<action android:name="NotificationCenter.ACTION_HIDE" />
	<action android:name="NotificationCenter.ACTION_TOGGLE" />
	<action android:name="NotificationCenter.ACTION_SET" />
	<action android:name="NotificationCenter.ACTION_SHOW" />
	<action android:name="android.intent.action.BOOT_COMPLETED" />
	<category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </receiver>

  </application>
</manifest> 
